.Category{

    border: 1px solid goldenrod;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
}

.Category img{

    width: 200px;

}

#categoriesChart{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

#meals{

    border: 1px solid goldenrod;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 400px;
    margin-left: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-gap: 30px;
    text-align: center; */
    


}

#meals img{

    width: 300px;
    text-align: center;
}

.mealAboutClass{

    border: 1px solid goldenrod;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 500px;
    margin-top: 50px;
    margin-left: 400px;
    grid-template-columns: 1fr 1fr;

}


.mealAboutClass img{
    width: 400px;
    text-align: center;

}